@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}
nav ul :hover {
  font-weight: bold;
  color: blue;
}


nav ul li a {
  text-decoration: none;
  color: #333;
}

.main {
  display: flex;
  justify-content: space-around;

}

.main__section__centro {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: 90px;
}



#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(216, 30%, 68%);
  padding: 20px;
  margin: 40px;
  border-radius: 20px;
  width: 500px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  

}

.inputSpan {
  padding: 15px;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  color: white;
  font-weight: bold;
  text-align: left;

}

.input {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;

}

.btnSubmit {
  background-color: white;
  border: none;
  width: 150px;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.btnSubmit:hover {
  background-color: rgb(45, 38, 64);
  color: white;
}

#tableData {
  background-color: hsl(216, 30%, 68%);
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  width: 500px;
}

#tableData thead tr th {
   /* text-align: center; */
  padding: 5px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}



footer {
  background-color: #f2f2f2;
  color: black;
  padding: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  margin-left: 20px;
}

.social-icon {
  color: #fff;
  margin-right: 10px;
}

.footer-right {
  margin-top: 10px;
}


