/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
  }
  nav ul :hover {
    font-weight: bold;
    color: blue;
  }
 
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    padding: 20px;
 
  }
  
  #banner {
    text-align: center;
  }
  
  .family-photos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  #planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .plan {
    width: 300px;
    background-color: rgb(44,39,64);
    padding: 20px;
    margin: 10px;
  }
  
  .plan h3 {
    margin-top: 0;
    color: white;
    
  }
  
  .plan p {
    margin-bottom: 10px;
    color: white;
    font-family: "Karla", sans-serif;
   
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }


  
  footer {
    background-color: #f2f2f2;
    color: black;
    padding: 20px;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    margin-left: 20px;
  }
  
  .social-icon {
    color: #fff;
    margin-right: 10px;
  }
  
  .footer-right {
    margin-top: 10px;
  }
  

  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo img {
      margin-bottom: 10px;
    }
  
    nav ul {
      margin-top: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    #planes {
      flex-direction: column;
    }
  
    .plan {
      width: 100%;
    }
  
    .footer-left {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  }
  